
.footer {
		padding: 60px 0;
		background: #080C13;
		@media screen and (max-width: 1280px) {
			margin-bottom: 740px;
		}
		@media screen and (max-width: 1000px) {
			margin: 0px 0px 380px 0px;
		}
		@media screen and (max-width: 500px) {
			margin: 0;
		}	
		&__row {
			padding-right: 60px;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 1280px) {
				padding: 0;
			}
			@media screen and (max-width: 1024px) {
				padding: 0;
			}
			@media screen and (max-width: 779px) {
				padding: 0;
				justify-content: space-between;
			}
			@media screen and (max-width: 500px) {
				flex-wrap: wrap;
			}
		}

		&__item {
			@media screen and (max-width: 779px) {
				width: 50%;
				&:nth-child(3) {
					margin-left: -40px;
				}
				&:nth-child(4) {
					padding-left: 10px;
				}
			}
			@media screen and (max-width: 500px) {
				width: 50%;
				&:nth-child(2) {
					padding-left: 20px;
				}
				&:nth-child(3) {
					margin: 0;
				}
				&:nth-child(4) {
					padding: 45px 0px 0px 20px;
				}
			}
			li {
				margin-bottom: 24px;
				a {
					@include font(14px,500);
					color: $second;
					@media screen and (max-width: 500px) {
						@include font(11px,500);
					}
				}
			}
		}

		&__copyright {
			@include font(13px,500);
			width: 200px;
			height: 55px;
			color: #1B2335;
			margin: 24px 0px 45px 0px;
			@media screen and (max-width: 779px) {
				width: 160px;
			}
			@media screen and (max-width: 500px) {
				width: 160px;
			}
		}
}
