@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('☺'), url('../fonts/Gilroy-Black.woff') format('woff'), url('../fonts/Gilroy-Black.ttf') format('truetype'), url('../fonts/Gilroy-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrillic';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrillic';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrillic';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

